<%= partial(:'partials/background') %>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-plus-sign"></span> Register
      </div>
      <div class="panel-body">
        <form class="form-horizontal col-md-10" method="post" action="/auth/signup">
          <div class="form-group">
            <label for="username" class="col-sm-5 control-label">Username*</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="username" placeholder="Username" required="required" />
            </div>
          </div>
          <div class="form-group">
            <label for="password_confirmed" class="col-sm-5 control-label">Password*</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" name="password" placeholder="**********" required="required" />
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-5 control-label">Confirm Password*</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" name="password_confirmed" placeholder="**********" required="required" />
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-5 control-label">Email*</label>
            <div class="col-sm-7">
              <input type="email" class="form-control" name="email" placeholder="john@doe.com" required="required" />
            </div>
          </div>
          <hr />
          <div class="form-group">
            <label for="first_name" class="col-sm-5 control-label">First Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="first_name" placeholder="John" />
            </div>
          </div>
          <div class="form-group">
            <label for="last_name" class="col-sm-5 control-label">Last Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="last_name" placeholder="Doe" />
            </div>
          </div>
          <div class="form-group last">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-primary btn-sm">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-lock"></span> Login
      </div>
      <div class="panel-body">
        <form class="form-horizontal" method="post" action="/auth/login">
          <div class="form-group">
            <label for="login_username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="login_username" placeholder="Username" required="required" />
            </div>
          </div>
          <div class="form-group">
            <label for="login_password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" name="login_password" placeholder="**********" required="required" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember" />
                  Remember me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group last">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-success btn-sm">Sign in</button>
              <button type="reset" class="btn btn-default btn-sm">Reset</button>
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        Not Registred? Register now!
      </div>
    </div>
  </div>
</div>
