<h3><%= t('home.featured_shows') %></h3>
<div class="row">
  <% if @shows.empty? %>
    <div class='col-md-12'> <%= t('search.no_shows_found') %></div>
  <% else %>
    <div class='col-md-6 text-center'>
      <% @shows.first(5).each do |show| %>
        <%= render 'shows/show_title_and_banner', show: show %>
      <% end %>
    </div>
    <div class='col-md-6 text-center'>
      <% @shows.last(5).each do |show| %>
        <%= render 'shows/show_title_and_banner', show: show %>
      <% end %>
    </div>
  <% end %>
</div>
