<%= partial(:'partials/background') %>
<div class="jumbotron">
  <h1>Welcome to ShowTracker!!</h1>
  <p>One place where you can keep all the information about your favourite shows!</p>
  <p>
    <%= link_button '/users/login', 'Sign Up', :primary, :lg, role: 'button' %>
  </p>
</div>
