<%= partial(:'partials/background') %>
<div class="jumbotron">
  <h1><%= t 'home.index.header' %></h1>
  <p><%= t 'home.index.message' %></p>
  <p>
    <%= link_button '/users/login', t('general.sign_up'), :primary, :lg, role: 'button' %>
  </p>
</div>
