<%= partial(:'partials/background') %>
<div class="jumbotron">
  <h1>Welcome to ShowTracker!!</h1>
  <p>One place where you can keep all the information about your favourite shows!</p>
  <p><a href="/auth/login" class="btn btn-primary btn-lg" role="button">Sign Up</a></p>
</div>
