<div class="btn-group pull-right">
  <a class="btn btn-default btn-primary active"><%= glyphicon 'th-large' %></a>
  <a href="/shows/list?<%= @query %>" class="btn btn-default btn-primary"><%= glyphicon 'th-list' %></a>
</div>
<div class="clearfix"></div>
<%= partial :'partials/show/cards' %>
