<% @shows.each do |show| %>
  <a href="/shows/view/<%= show.id %>">
    <div class="card small">
      <img src="<%= show.banner %>" />
      <div class="content">
        <h1><%= show.name %></h1>
      </div>
    </div>
  </a>
<% end %>


<section>
  <h6 class="list-header">a</h6>
</section>
