<h2>A</h2>
<ul class="card_list" data-spy="affix">
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn btn-xs"><span class="glyphicon glyphicon-plus"></span> To Watchlist</a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
</ul>
<h2>B</h2>
<ul class="card_list">
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
</ul>
<h2>C</h2>
<ul class="card_list">
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
</ul>
<nav id="affix-nav" class="sidebar col-md-4">
  <ul class="nav sidenav affix" data-spy="affix" data-offset-top="10" style='float:left'>
    <li class="active"><a href="#a">A</a>
    <li class="active"><a href="#a">B</a>
    <li class="active"><a href="#a">C</a>
    <li class="active"><a href="#a">D</a>
    <li class="active"><a href="#a">E</a>
    <li class="active"><a href="#a">F</a>
    <li class="active"><a href="#a">G</a>
    <li class="active"><a href="#a">H</a>
    <li class="active"><a href="#a">I</a>
    <li class="active"><a href="#a">J</a>
    <li class="active"><a href="#a">K</a>
    <li class="active"><a href="#a">L</a>
    <li class="active"><a href="#a">M</a>
    <li class="active"><a href="#a">N</a>
    <li class="active"><a href="#a">O</a>
    <li class="active"><a href="#a">P</a>
    <li class="active"><a href="#a">Q</a>
    <li class="active"><a href="#a">R</a>
    <li class="active"><a href="#a">S</a>
    <li class="active"><a href="#a">T</a>
    <li class="active"><a href="#a">U</a>
    <li class="active"><a href="#a">V</a>
    <li class="active"><a href="#a">W</a>
    <li class="active"><a href="#a">X</a>
    <li class="active"><a href="#a">Y</a>
    <li class="active"><a href="#a">Z</a>
  </ul>
</nav>
<script>
$('#affix').affix();
</script>
<% unless @shows.nil? %>
<ul>
  <% @shows.each do |show| %>
    <li><%= show.name %> - <%= show.seasons.count %> seasons</li>
  <% end %>
</ul>
<% end %>
