<h2>A</h2>
<ul class="card_list">
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn btn-xs"><span class="glyphicon glyphicon-plus"></span> To Watchlist</a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
</ul>
<h2>B</h2>
<ul class="card_list">
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
</ul>
<h2>C</h2>
<ul class="card_list">
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
  <li>
    <div class="card">
      <h3>The Big Bang Theory</h3>
      <img src="/img/house.jpg">
      <div class="options">
        <a href="/" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </li>
</ul>
<% unless @shows.nil? %>
<ul>
  <% @shows.each do |show| %>
    <li><%= show.name %> - <%= show.seasons.count %> seasons</li>
  <% end %>
</ul>
<% end %>
